<script context="module" lang="ts">

</script>

<svelte:head>
	<title>Charts</title>
</svelte:head>


# Charts

## Subtitle

Some **amazing** _content_.

'Clever quote marks?'

"And some more"

```js
console.log('Hello, World!')
```

Find this on [Git Hub](https://github.com/NickR49/portfolio)

<style>
	.charts {
		width: 100%;
		max-width: var(--column-width);
		margin: var(--column-margin-top) auto 0 auto;
		line-height: 1;
	}
</style>
